/*sélécteur {
	propriété:	valeur;
}*/
/* paletton.com */

* {
	font-family: 'Arial', sans-serif;

}





body {
	background-image: url(/img/fondbleu.webp);
	background-size: cover;
}

h5 {
	
}

button {
	border-color: gray;
}

img {
	float: left;
	cursor: pointer;
}

a {
	color: darkred;
}

li {
	list-style: none;
	display: block;
}

footer {
	text-align: center;
}

.mettaton {
	float: left;

}

.je {
	color: green;
	border: solid;
	background-color: ;
	clear: left;
	font-family: 'Arial', sans-serif;
}

.suis {
	color: red;
	border: solid;
	font-family: 'Arial', sans-serif;
}

.haut {
	color: purple;
	border: solid;
	font-family: 'Arial', sans-serif;

}

.en {
	color: darkcyan;
	border: solid;
	font-family: 'Arial', sans-serif;

}

.couleurs {
	color: blue;
	border: solid;
	font-family: 'Arial', sans-serif;
}


.sept {
	color: black;
	font-family: 'Arial', sans-serif;
}

.tricheur {
	background-color: white;
	color: black;
	font-family: 'Arial', sans-serif;
}

.regle {
	color: white;
	text-align: center;
	border: 10px solid;
	border-color: orange;
	background-color: black;
	font-family: 'Arial', sans-serif;
}

.connexion {
	text-align: center;
	border: 20px solid;
	background-color: black;
	color: white;
	font-family: 'Arial', sans-serif;
}

h2 .touche:hover {
	text-align: center;
	border: solid;
	border-color: green;
	font-family: 'Raleway', sans-serif;
}
